{% extends "base.html" %}
{% block content %}

    <div style="width: 100%; height: 300px; display: flex; flex-direction: column; align-items: center;
    justify-content: center; background: #00ad25; background: linear-gradient(154deg, #00ff6f, #00ad25);
    color: white; font-weight: 600; font-size: 42px; box-sizing: border-box;
    padding: 32px; line-height: 46px;">

        <div>A.A.A</div>
        <div style="font-size: 36px; font-weight: 300;">Unit Testing</div>

    </div>

    <div class="container mt-5">
        <h2>AAA Testing</h2>
        <div style="font-size: 18px;">
            <b>AAA unit testing</b>, otherwise known as the <b>Arrange-Act-Assert strategy</b>, is a primarily efficient way to structure test cases in projects. It has become an essential standard in the industry of Computer Science, so learning it is just as essential in order to secure a job, but to also ensure that your code is fully functional and efficient.
            <br><br>
            <b>In simpler terms:</b>
            <br><br>
            <div class="mx-5" style="font-size: 24px;">

                <b>1.</b> The arrange section starts with having code that is required to set up a specific test. Usually, an instance of an object is created in this stage just for mock purposes.<br><br>
                <b>2.</b> The act portion requires a method from the object to be utilized, acting on some form of data that the method performs an action on.<br><br>
                <b>3.</b> The assert section is the simplest part, acting almost as a conditional statement. We are tasked with checking if the final results meet our expectations <i>(in simpler terms, if the data is what we expect it to be after the method and if it is functional).</i>
                <br><br>

                <figure class="figure d-block mx-auto">
                  <img src="../../static/images/aaa_example.png" class="figure-img img-fluid rounded d-block mx-auto" style="height: 400px;" alt="A generic square placeholder image with rounded corners in a figure.">
                  <figcaption class="figure-caption text-center" style="font-size: 16px;">An example of new code that was made to follow AAA unit testing with the new pages we just made.</figcaption>
                </figure>

            </div>
        </div>
    </div>

{% endblock %}