{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h2>Python & Flask: Explanation</h2>
        <br>
        <div class="container">

            <h3>Testing with Pytest</h3>
            <div style="font-size: 14px;">We were taught to use Pytest whenever we implement any functions or objects, so in this project, we utilized it for a majority of scenarios that involve getting the URL for our simple_pages_test.py.

            <br><br>For example, we go through a variety of tests to see if the main menu links are present in test_request_main_menu_links, if our index page works on test_request_index, if any page is not found in our test_request_page_not_found, and so forth for our other pages in simple_pages. For most of these, we are checking to see if the status codes in the tests are 200, which means OK. Any status code of 404, means NOT FOUND.</div>

            <br>

            <h3>Link to the project on Github Link to Flask, Flask Blueprint, Flask Testing</h3>
            <div style="font-size: 14px;">Not sure what you meant by here since this was vaguely discussed, so I'm going to explain instead.

            <br>
            <br>Flask uses a concept of blueprints for making applications and supporting common patterns. These blueprints allow to simplify the process for how some large applications work, which provide a variety of benefits such as: instantiate application objects, allowing for operations to be registered on an application multiple times without difficulty, but the only issue is that you cannot unregister a blueprint without having to destroy the whole application. Similarly, testing with Flask uses errorhandlers just like the Flask application object, allowing us to make custom error page that follow Blueprints just like how we used in this project, hence why we use Pytest.
            </div>

            <br>

            </div>
    </div>
{% endblock %}