{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>
    <div style="font-size: 18px;">My name is Jason Cordova and I'm currently a sophomore studying Computer Science at the New Jersey Institute of Technology. <br><br>I started teaching myself how to program since I was 8 years old and decided to carry out the hobby as a career path. As of now, I've begun experimenting with web development, database technologies, and software development. I decided to take this course after my time in IT202 last semester, which peaked my interest in developing websites. <br><br>Feel free to use the navigation bar on top to upload or browse songs.</div>
    <br><b>There is no MAP or LOCATIONS included since Professor said it was optional for Project 3.</b>
{% endblock %}
</article>
