{% extends "base.html" %}
{% block content %}

    <div style="width: 100%; height: 300px; display: flex; flex-direction: column; align-items: center;
    justify-content: center; background: #ff6800; background: linear-gradient(154deg, #ff6800, #c20000);
    color: white; font-weight: 600; font-size: 48px; box-sizing: border-box;
    padding: 32px; line-height: 46px;">

        <div>SOLID</div>
        <div style="font-size: 36px; font-weight: 300;">Principles</div>

    </div>

    <div class="container mt-5" style="font-size: 16px;">

            <h2 class="text-center">Overview of SOLID</h2>


                    <br><b>Single-responsibility Principle </b>essentially covers the theory that every module, class, or function should only have one primary task to complete, therefore it should only have one singular reason to change. In this primary example, if people were assigned to their own class, the role of an accountant should be different than the role of a database administrator, therefore why each module should have its own individual responsibility. The term first originated from Robert C. Martin’s 2003 book titled, ‘The Principles of OOD’. Our calculator class’s role is to display results, while the operations have their own role of adding, subtracting, multiplying, dividing, etc.<br><br>
                    <figure class="figure d-block mx-auto">
                      <img src="../../static/images/single_resp.png" class="figure-img img-fluid rounded d-block mx-auto" style="height: 256px;" alt="A generic square placeholder image with rounded corners in a figure.">
                      <figcaption class="figure-caption text-center" style="font-size: 16px;">An example of our calculator code that follows Single-Responsibility Principle.</figcaption>
                    </figure><br>

                    <b>Open-closed Principle </b>states that software entities such as classes, modules, and functions should be open for extension, but closed for modification. This is for the sole purpose to allow an entity’s behavior to be extended without the modification of its source code. This term first originated from Bertrand Meyer’s 1988 book called ‘Object Oriented Software Construction’.<br><br>
                    <figure class="figure d-block mx-auto">
                      <img src="../../static/images/open_close.png" class="figure-img img-fluid rounded d-block mx-auto" style="height: 256px;" alt="A generic square placeholder image with rounded corners in a figure.">
                      <figcaption class="figure-caption text-center" style="font-size: 16px;">An example of our calculator code that follows Open-Closed Principle.</figcaption>
                    </figure><br>

                    <b>Liskov Substitution Principle </b>states that any subclass object should be substitutable for the superclass object from which it is derived. The term was first introduced by Barbara Liskov in a 1988 conference titled ‘Data Abstraction and Hierarchy’.<br><br>
                    <figure class="figure d-block mx-auto">
                      <img src="../../static/images/liskov.png" class="figure-img img-fluid rounded d-block mx-auto" style="height: 256px;" alt="A generic square placeholder image with rounded corners in a figure.">
                      <figcaption class="figure-caption text-center" style="font-size: 16px;">An example of our calculator code that follows Liskov Substitution Principle.</figcaption>
                    </figure><br>

                    <b>Interface Segregation Principle </b>was defined by Robert C. Martin, which states that users or clients should be exposed to methods or options that they do not need. When creating an interface, users should only have access to important methods. This is primarily to prevent pollution to the interface which would later lead to a ‘bulky’ or ‘fat’ appearance in the interface.<br><br>
                    <figure class="figure d-block mx-auto">
                      <img src="../../static/images/interface.png" class="figure-img img-fluid rounded d-block mx-auto" style="height: 256px;" alt="A generic square placeholder image with rounded corners in a figure.">
                      <figcaption class="figure-caption text-center" style="font-size: 16px;">An example of our calculator code that follows Interface Segregation Principle.</figcaption>
                    </figure><br>

                    <b>Dependency Inversion Principle </b>essentially states that high-level modules should not import anything from low-level modules and that both should depend on abstractions. Similarly, abstractions should not depend on details, but details should depend on abstractions. In this example, our Calculator class is known as the high-level module, while the add, subtract, multiply, and divide operations are known as the low-level modules.<br><br>
                    <figure class="figure d-block mx-auto">
                      <img src="../../static/images/depend.png" class="figure-img img-fluid rounded d-block mx-auto" style="height: 256px;" alt="A generic square placeholder image with rounded corners in a figure.">
                      <figcaption class="figure-caption text-center" style="font-size: 16px;">An example of our calculator code that follows Dependency Inversion Principle.</figcaption>
                    </figure><br>

            <br><h2 class="text-center pt-5" style="border-top: 1px solid black;">Design Patterns</h2>

            <div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">

                <div style="flex-basis: 33.333%; min-width: 256px;">

                    <h5 class="text-center">Creational Patterns</h5>
                    <ul style="font-size: 14px;">

                        <br><li><b>Abstract Factory </b><br>Creates an instance of several families of classes.</li><br>

                        <li><b>Builder </b><br>Separates object construction from its representation.</li><br>

                        <li><b>Factory Method </b><br>Creates an instance of several derived classes.</li><br>

                        <li><b>Object Pool </b><br>Avoid expensive acquisition and release of resources by recycling objects that are no longer in use.</li><br>

                        <li><b>Prototype </b><br>A fully initialized instance to be copied or cloned.</li><br>

                        <li><b>Singleton </b><br>A class of which only a single instance can exist.</li><br>

                    </ul>

                </div>

                <div style="flex-basis: 33.333%; min-width: 256px;">
                <h5 class="text-center">Structural Patterns</h5>

                <ul style="">

                    <br><li><b>Adapter </b><br>Match interfaces of different classes.</li><br>

                    <li><b>Bridge </b><br>Separates an object's interface from its implementation.</li><br>

                    <li><b>Composite </b><br>A tree structure of simple and composite objects.</li><br>

                    <li><b>Decorator </b><br>Add responsibilities to objects dynamically.</li><br>

                    <li><b>Facade </b><br>A single class that represents an entire subsystem.</li><br>

                    <li><b>Flyweight </b><br>A fine-grained instance used for efficient sharing.</li><br>

                    <li><b>Private Class Data </b><br>Restricts accessor/mutator access.</li><br>

                    <li><b>Proxy </b><br>An object representing another object.</li><br>

                </ul>
                </div>

                <div style="flex-basis: 33.333%; min-width: 256px;">

                <h5 class="text-center">Behavioral Patterns</h5>

                <ul style="">

                    <br><li><b>Chain of responsibility </b><br>A way of passing a request between a chain of objects.</li><br>

                    <li><b>Command </b><br>Encapsulate a command request as an object.</li><br>

                    <li><b>Interpreter </b><br>A way to include language elements in a program.</li><br>

                    <li><b>Iterator </b><br>Sequentially access the elements of a collection.</li><br>

                    <li><b>Mediator </b><br>Defines simplified communication between classes.</li><br>

                    <li><b>Memento </b><br>Capture and restore an object's internal state.</li><br>

                    <li><b>Null Object </b><br>Designed to act as a default value of an object.</li><br>

                    <li><b>Observer </b><br>A way of notifying change to a number of classes.</li><br>

                    <li><b>State </b><br>Alter an object's behavior when its state changes.</li><br>

                    <li><b>Strategy </b><br>Encapsulates an algorithm inside a class.</li><br>

                    <li><b>Template method </b><br>Defer the exact steps of an algorithm to a subclass.</li><br>

                    <li><b>Visitor </b><br>Defines a new operation to a class without change.</li><br>

                </ul>

                </div>

            </div>

        <br><i>As shown in the previous images, it is known that we use a factory pattern design in our Calculator class since we produce a Calculator interface implementing the operations interface.</i><br><br>
    </div>

{% endblock %}