{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h2>Python & Flask: Explanation</h2>
        <br>
        <div class="container">

            <h3>Branches</h3>
            <div style="font-size: 14px;">In Git, branches serve the purpose as snapshots to any changes made in your development process. If you're familiar with the C++ programming language, branches are almost similar to pointers, where the initial reference or 'main branch' is not altered when you make changes to a branch. Branches essentially make a new working directory with new commits recording the project history.</div>

            <br>

            <h3>Merge</h3>
            <div style="font-size: 14px;">Merging in Git allows different branches of development to essentially become one. For example, if one feature was developed in our 'Feature 1' branch and another in our 'Feature 2' branch, we can essentially merge these two Feature branches to one another or make a new branch that implements both features.</div>

            <br>

            <h3>Commit</h3>
            <div style="font-size: 14px;">Git’s commit feature allows us to keep track of our progress of our entire repository, serving almost as the actual ‘snapshot’ portion of our project. They are usually sent with a brief explanation or reason for the changes before being pushed to the repository, where the repository then implements them.
</div>

            <br>

            <h3>Tags</h3>
            <div style="font-size: 14px;">Tags are used in Git as reference points to a specific point in that Git's history, but also assist in keeping any commits in a project organized. Oftentimes, this feature is used to refer to specific release points or versions of a project.</div>

            <br>

            <h3>Repositories</h3>
            <div style="font-size: 14px;">In general, repositories are areas that store or maintain data. In Git, they are very similar to that. Git repositories (or repo for short) are used to hold a variety of data and files that are later used to compose a project. They also have the capability to track and save the entire history of changes made to any files within the ongoing project.</div>

            <br>

        </div>
    </div>
{% endblock %}